extends layout

block content
    ul(class="list-group")
        for route in routeList
            li(class="list-group-item") 
                div Route ID: #{route.id}
                div Origin: #{route.origin} 
                div Destination: #{route.destination}