extends layout

block content
    ul(class="list-group")
        for route in routeList
            li(class="list-group-item") Route ID: #{route.id} | Origin: #{route.origin} | Destination: #{route.destination}