doctype html
html
    head
        title Init Test
        link(rel="stylesheet", href="https://code.jquery.com/qunit/qunit-2.4.0.css")
    body
        div(id='qunit')
        div(id='qunit-fixture')
        script(src="https://code.jquery.com/qunit/qunit-2.4.0.js")
        script(src="/javascripts/tests/init_test.js")