extends layout

block content
    h1 Login
    form(method='POST')
        div(class='form-group')
            label Username
            input(type='text' class='form-control' name='username')
        div(class='form-group')
            label Password
            input(type='password' class='form-control' name='password')
        button(type='submit' class='btn btn-secondary btn-lg') Login
    hr
    p Need an account? #[a(href='/signup') Signup]