extends layout

block content
    h1 Profile Page
    div(class='row')
        div(class='col-sm-6')
            div(class='well')
                h3 Local
                    p #[strong ID]: #{user.id}
                    p #[strong Username]: #{user.username}