extends layout

block content

    h1 Route List

    ul(class="list-group")
        for route in routeList
            - var routeId = route.id;
            li(class="list-group-item")
                div Route ID: #{route.id}
                div Origin: #{route.origin} 
                div Destination: #{route.destination}
                form(action="createJob", method="get")
                    input(type="hidden" name="routeId" value= + routeId)
                    button(class="badge badge-secondary" type="submit") Create Job