extends layout

block content
    div(class='row')
        div(class='col-sm-12')
            h1 Route
            form(action='javascript:calcRoute()')
                div(class='form-group')
                    label Origin
                    input(type='text' class='form-control' id='origin')
                div(class='form-group')
                    label Destination
                    input(type='text' class='form-control' id='destination')
                div(class="btn-group" role="group")
                    button(type='submit' class='btn btn-secondary') Calculate Route
                    button(id="save" onclick='saveRoute()' class='btn btn-dark' disabled) Save Route
    div(class='row')
        div(class='col-sm-12')
            div(id='map_container')    
                div(id='map')
    script(src="javascripts/map.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=" + javascriptMapKey + "&callback=initMap" async defer)