.container-fluid {
    padding-top: 2rem;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_container {
    margin-top: 1rem;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100vh - 25rem);
}

.btn-menu {
    background-color: #343a40!important;
    color: #868e96;
}

.btn-menu:focus {
    box-shadow: none;
}